@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-black.woff);
    font-weight: bold;
}

:root {
    --board-size: 87vmin;
    --red: #e23838;
    --yellow: #f79e1b;
    --blue: steelblue;
    --hole-size: calc(var(--board-size) / 7 / 1.15);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s ease;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: calc(var(--board-size) + 20px);
    height: calc((var(--board-size) - 32px) / 4);
    margin: auto;
    margin-top: 20px;
}

.char {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    font-size: calc((var(--board-size) - 32px) / 5.6);
    font-weight: bold;
    line-height: 90%;
    height: calc((var(--board-size) - 32px) / 4);
    width: calc((var(--board-size) - 32px) / 4);
    border: 7px solid var(--blue);
    border-radius: 50%;
    color: var(--blue);
}

.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    cursor: pointer;
    border: 10px solid var(--blue);
    border-bottom: 20px solid var(--blue);
    border-radius: 25px;
    width: var(--board-size);
    height: calc(var(--board-size) - var(--board-size) / 7);
    margin: auto; 
    margin-top: calc((var(--board-size)) / 3);
}

.cell {
    position: relative;
    overflow: hidden;
}

.cell::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    margin: calc((var(--board-size) / 7 - var(--hole-size)) / 2) auto;
    width: var(--hole-size);
    height: var(--hole-size);
    border-radius: 50%;
    box-shadow: 0 0 0 1000px var(--blue);
}

.disc {
    position: absolute;
    border-radius: 50%;
    height: calc(var(--hole-size) + 4px);
    width: calc(var(--hole-size) + 4px);
    z-index: -100;
    opacity: 0;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
}

.red {
    background-color: var(--red);
    opacity: 1;
}

.yellow {
    background-color: var(--yellow);
    opacity: 1;
}

.over {
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

.disabled {
    background-color: rgba(70, 130, 180, 0.5);
    transition: background-color 1s ease-in-out;
}

#designed {
    position: absolute;
    text-align: center;
    left: 0; 
    right: 0; 
    color: white;
    font-size: 11px;
    margin-top: calc(var(--board-size) - var(--board-size) / 7 + 1.5px);
}

@keyframes fade {

    0% {
        opacity: 1; 
    }
  
    50% {
        opacity: 0.5;
    } 

    100% {
        opacity: 1; 
    } 
}

.fade {
    animation: fade 2s ease forwards;
}

@media (prefers-color-scheme: dark) {
    
    body {
        background-color: black;
    }

    #designed {
        color: black;
    }
}

@media (orientation: landscape) and (max-height: 460px) {

    .header {
        display: none;
    }

    .board {
        margin-top: 0;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
        --hole-size-big: calc(var(--board-size-big) / 7 / 1.15);
    }

    .header {
        width: calc(var(--board-size-big) + 20px);
        height: calc((var(--board-size-big) - 32px) / 4);
        margin-top: 0;
    }
    
    .char {
        height: calc((var(--board-size-big) - 32px) / 4);
        width: calc((var(--board-size-big) - 32px) / 4);
        font-size: 72px;
    }

    .board {
        width: var(--board-size-big);
        height: calc(var(--board-size-big) - var(--board-size-big) / 7);
        border-bottom: 20px solid var(--blue);
        border-radius: 30px;
        margin-top: 120px; 
    }

    .cell::after {
        margin: calc((var(--board-size-big) / 7 - var(--hole-size-big)) / 2) auto;
        width: var(--hole-size-big);
        height: var(--hole-size-big);
    }
    
    .disc {
        height: calc(var(--hole-size-big) + 4px);
        width: calc(var(--hole-size-big) + 4px);
    }

    #designed {
        font-size: 12px; 
        margin-top: calc(var(--board-size-big) - var(--board-size-big) / 7);
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
            -webkit-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
}