@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Bold-webfont.woff);
    font-weight: bold;
}

:root {

    --board-size: 0.87;
    --blue: steelblue;
    --red: #e23838;
    --yellow: #ffb900;
    /* --hole-size: 5.5vmin; */

    --hole-size: calc(var(--board-size) / 7 / 1.15);


   
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 20vmin;
    color: var(--blue);
    margin-top: 0px;

    transition: color 1s ease-in-out;  

}

body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    background-color: seashell;

}

.board{
    display: grid;

    position: relative;

    grid-template-columns: repeat(7, 1fr);

    border: 10px solid var(--blue);
    /* border-bottom: 20px solid var(--blue); */

    border-radius: 25px;

    width: var(--board-size);

    height: calc(var(--board-size) - var(--board-size) / 7);

    margin: auto;
    margin-top: 100px;

}

#designed{

    position: absolute;

    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    margin-top: calc(var(--board-size) - var(--board-size) / 7 - 0.3vmin);


    text-align: center;
    /* align-self: auto; */
    color: seashell;
    font-size: 2vmin; 

    /* opacity: 0.7; */

}



.cell{

    /* background-color: snow; */
    position: relative;
    /* background: radial-gradient(transparent var(--hole-size), var(--blue) calc(var(--hole-size) / 2)); */

    transition: background-color 1s ease-in-out;  

    overflow: hidden;


}

.cell::after{
    content:" ";
    position:absolute;
    left:0; right:0;
    margin: calc((var(--board-size) / 7 - var(--hole-size)) / 2) auto;


    width: var(--hole-size);
    height: var(--hole-size);
    border-radius: 50%;
    box-shadow: 0 0 0 1000px var(--blue);
}

.disc{


    border-radius: 50%;

    height:  calc(var(--hole-size) + 2px);
    width:   calc(var(--hole-size) + 2px);

    /* height:  calc(var(--board-size) / 7);
    width:   calc(var(--board-size) / 7); */




    /* background-color: black; */

    position: absolute;
    opacity: 0;
    /* transition: opacity 1s ease-out;   */

    /* transition: transform 0.6s ease-in; */

    z-index: -100;



}

.red{

    background-color: var(--red);
}

.yellow{

    background-color: var(--yellow);
}

.blue{
    background-color: rgba(70, 130, 180, 0.5);
}

/* .disappear{

    transition: opacity 2s ease-out,  background-color 2s ease-out;

} */

/* .red-hole{
    background: radial-gradient(var(--red) var(--hole-size), var(--blue) calc(var(--hole-size) / 2));

}

.yellow-hole{
    background: radial-gradient(var(--yellow) var(--hole-size), var(--blue) calc(var(--hole-size) / 2));
} */

/* @media (orientation: landscape) and (max-height: 460px){ */

@media (orientation: landscape){

    h1{
        display: none;
    }

    .board{
        margin-top: 0;
        margin-bottom: -50px;
    }
}

@media (min-width: 460px) and (min-height: 460px){

    :root {

        /* --hole-size: 5.5vmin; */
       
    }

    h1{
        font-size: 20vmin;
    }

    .board{
        border: 20px solid var(--blue);
        border-radius: 50px;
    }

    .cell{
        /* background-color: var(--blue); */


        position: relative;
        /* background: radial-gradient(transparent var(--hole-size),var(--blue) calc(var(--hole-size) / 2)); */

        overflow:hidden;

    
    }


    /* .red{
        background: radial-gradient(var(--red) var(--hole-size), var(--blue) calc(var(--hole-size) / 2));
    
    }
    
    .yellow{
        background: radial-gradient(var(--yellow) var(--hole-size), var(--blue) calc(var(--hole-size) / 2));
    } */


}

.noselect {
-webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
        -webkit-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
}
 