@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto-Black-webfont.woff);
}

:root {
    --board-size: 0.87;
    --blue: steelblue;
    --red: #e23838;
    --yellow: #f79e1b;
    --background-color: white;
    --hole-size: calc(var(--board-size) / 7 / 1.15);
    --border-size: 10px;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-family: 'Roboto Black', sans-serif;
    display: flex;
    justify-content: space-between;
    width: calc(var(--board-size) + 20px);
    height: calc((var(--board-size) - 32px) / 4);
    margin: auto;
    margin-top: 20px;
}

.char {
    display: grid;
    line-height: 90%;
    box-sizing: border-box;
    place-items: center;
    height: calc((var(--board-size) - 32px) / 4);
    width: calc((var(--board-size) - 32px) / 4);
    border: 7px solid steelblue;
    border-radius: 50%;
    font-size: calc((var(--board-size) - 32px) / 5.6);
    color: steelblue;
}

body {
    background-color: var(--background-color);
    text-align: center;
    opacity: 0;
    transition: opacity 2s ease;
}

body:hover {
    cursor: default;
}

.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    border: var(--border-size) solid var(--blue);
    border-bottom: 20px solid var(--blue);
    border-radius: 25px;  
    width: var(--board-size);
    height: calc(var(--board-size) - var(--board-size) / 7);
    margin: auto; 
    margin-top: calc((var(--board-size)) / 3);
}

#designed {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-top: calc(var(--board-size) - var(--board-size) / 7 + 1.5px);
    text-align: center;
    color: var(--background-color);
    font-size: 11px;
    transition: opacity 1s ease-in-out;  
}

.cell {
    position: relative;
    transition: background-color 1s ease-in-out;  
    overflow: hidden;
}

.cell {
    cursor: pointer;
} 

.cell::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    margin: calc((var(--board-size) / 7 - var(--hole-size)) / 2) auto;
    width: var(--hole-size);
    height: var(--hole-size);
    border-radius: 50%;
    box-shadow: 0 0 0 1000px var(--blue);
}

.disc {
    border-radius: 50%;
    height:  calc(var(--hole-size) + 4px);
    width:   calc(var(--hole-size) + 4px);
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.blue {
    background-color: rgba(70, 130, 180, 0.5);
}

@media (orientation: landscape) and (max-height: 460px) {

    .header {
        display: none;
    }

    .board {
        margin-top: 0;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
        --hole-size-big: calc(var(--board-size-big) / 7 / 1.15);
    }

    .header {
        width: calc(var(--board-size-big) + 20px);
        height: calc((var(--board-size-big) - 32px) / 4);
        margin-top: 0;
    }
    
    .char {
        height: calc((var(--board-size-big) - 32px) / 4);
        width: calc((var(--board-size-big) - 32px) / 4);
        font-size: 72px;
    }

    .board {
        border: var(--border-size) solid var(--blue);
        border-radius: 30px;
        border-bottom: 20px solid var(--blue);
        width: var(--board-size-big);
        height: calc(var(--board-size-big) - var(--board-size-big) / 7);
        margin-top: 120px; 
    }

    .cell::after {
        margin: calc((var(--board-size-big) / 7 - var(--hole-size-big)) / 2) auto;
        width: var(--hole-size-big);
        height: var(--hole-size-big);
    }
    
    .disc {
        height:  calc(var(--hole-size-big) + 4px);
        width:   calc(var(--hole-size-big) + 4px);
    }

    #designed {
        font-size: 12px; 
        margin-top: calc(var(--board-size-big) - var(--board-size-big) / 7);
    }
}